.mainContainer {
  padding: 0 140px;
}

.container {
  margin: 50px 0 0 0;
}

.wrapper {
  display: flex;
}

.wrapperContainer {
  width: 50%;
}

.wrapperContent {
  display: grid;
  grid-gap: 10px;
}

.wrapperTitle {
  margin-bottom: 20px;
}
